{% extends 'base.html.twig' %}

{% block title %}Edit Bear{% endblock %}

{% block body %}
    <h1>Edit Bear</h1>

    {{ include('bear/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('bear_index') }}">back to list</a>

    {{ include('bear/_delete_form.html.twig') }}
{% endblock %}
