{% extends 'base.html.twig' %}

{% block title %}Bear index{% endblock %}

{% block body %}
    <h1>Bear index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Alchool</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bear in bears %}
            <tr>
                <td>{{ bear.id }}</td>
                <td>{{ bear.alchool }}</td>
                <td>{{ bear.name }}</td>
                <td>
                    <a href="{{ path('bear_show', {'id': bear.id}) }}">show</a>
                    <a href="{{ path('bear_edit', {'id': bear.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('bear_new') }}">Create new</a>
{% endblock %}
